set network interface ethernet ethernet1/1 layer3 ip {{vfw_untrust_ip}}/28
set network interface ethernet ethernet1/2 layer3 ip {{vfw_trust_ip}}/28
set network interface tunnel units tunnel.1
set network virtual-router {{vfw_vr}} interface [ ethernet1/1 ethernet1/2 tunnel.1 ]
set network virtual-router {{vfw_vr}} routing-table ip static-route default interface ethernet1/1 destination 0.0.0.0/0 nexthop ip-address {{vfw_default_nexthop}}
set network virtual-router {{vfw_vr}} routing-table ip static-route to_tenant interface ethernet1/2 destination {{vfw_tenant_supernet}} nexthop ip-address {{vfw_tenant_nexthop}}
set zone Untrust network layer3 ethernet1/1
set zone Trust network layer3 ethernet1/2
set zone VPN network layer3 tunnel.1
