---
# tasks file for pan_basic_config
- name: Generate basic Config files
  template: src=pan.j2 dest=/tmp/{{vfw_name}}.txt

- name: Wait 90 seconds to allow FW boot
  wait_for: timeout=90
  delegate_to: localhost
  
- name: Install config from template
  napalm_install_config:
      provider: "{{ provider }}"
      config_file: /tmp/{{ vfw_name }}.txt
      get_diffs: False
      commit_changes: True

- name: Create Trust rule
  panos_security_rule:
      ip_address: '{{ vfw_fqdn }}'
      username: '{{ vpan_admin }}'
      password: '{{ vpan_password }}'
      operation: 'add'
      rule_name: 'Trust to Trust'
      description: 'Allow intra Trust zone'
      source_zone: ['Trust']
      destination_zone: ['Trust']
      application: ['any']
      service: ['any']
      action: 'allow'
      commit: False
  ignore_errors: true

- name: Create Untrust rule
  panos_security_rule:
      ip_address: '{{ vfw_fqdn }}'
      username: '{{ vpan_admin }}'
      password: '{{ vpan_password }}'
      operation: 'add'
      rule_name: 'Untrust to Untrust'
      description: 'Allow intra Untrust zone'
      source_zone: ['Untrust']
      destination_zone: ['Untrust']
      application: ['any']
      service: ['any']
      action: 'allow'
      commit: False
  ignore_errors: true

- name: Create Outbound rule
  panos_security_rule:
      ip_address: '{{ vfw_fqdn }}'
      username: '{{ vpan_admin }}'
      password: '{{ vpan_password }}'
      operation: 'add'
      rule_name: 'Trust to Untrust'
      description: 'Allow Outbound from Trust'
      source_zone: ['Trust']
      destination_zone: ['Untrust']
      application: ['any']
      service: ['any']
      action: 'allow'
      commit: False
  ignore_errors: true

- name: Create VPN Inbound rule
  panos_security_rule:
      ip_address: '{{ vfw_fqdn }}'
      username: '{{ vpan_admin }}'
      password: '{{ vpan_password }}'
      operation: 'add'
      rule_name: 'VPN to Trust'
      description: 'Allow VPN to Trust zone'
      source_zone: ['VPN']
      destination_zone: ['Trust']
      application: ['any']
      service: ['any']
      action: 'allow'
      commit: False
  ignore_errors: true

- name: Create Outbound rule
  panos_security_rule:
      ip_address: '{{ vfw_fqdn }}'
      username: '{{ vpan_admin }}'
      password: '{{ vpan_password }}'
      operation: 'add'
      rule_name: 'Trust to VPN'
      description: 'Allow Trust to VPN'
      source_zone: ['Trust']
      destination_zone: ['VPN']
      application: ['any']
      service: ['any']
      action: 'allow'
      commit: False
  ignore_errors: true

- name: Create Default Deny rule
  panos_security_rule:
      ip_address: '{{ vfw_fqdn }}'
      username: '{{ vpan_admin }}'
      password: '{{ vpan_password }}'
      operation: 'add'
      rule_name: 'Default Deny'
      description: 'Deny anything not explicitly allowed'
      source_zone: ['any']
      destination_zone: ['any']
      application: ['any']
      service: ['any']
      action: 'deny'
      commit: False
  ignore_errors: true

- name: commit candidate config on firewall
  panos_commit:
      ip_address: '{{ vfw_fqdn }}'
      username: '{{ vpan_admin }}'
      password: '{{ vpan_password }}'