set deviceconfig system service disable-snmp no
set deviceconfig system permitted-ip {{ address1 }}
set deviceconfig system permitted-ip {{ address2 }}
set deviceconfig system permitted-ip {{ address3 }}
set deviceconfig system permitted-ip {{ address4 }}
set deviceconfig system permitted-ip {{ address5 }}